/* @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400); */
.box {
    width: 900px;
    float: right;
    border: 1px solid none;
}

.box ul li {
    width: 120px;
    font-size: 20px;
    float: left; 
    margin: 50x auto;
    text-align: center;
    padding:20px;
    font-family: courier,arial,helvetica;
    transition: transform .2s;
    font-weight: 800;
}

.box ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;

}
.box ul li:hover {
    background-color: rgb(207, 167, 167);
    transform: scale(1.2);
}
.box ul li a:hover {
    color: white;
    font-weight: 800;  
}
.main {
    font-family:latha;
    color: white;
    background-image:url(/Images/foodBackground.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
}
.wd {
    width: 250px;
    height: 800px;
    background-color: rgb(207, 167, 167);
    opacity: 0.9;
    padding: 55px;
    margin-right: 0px;
    transition: transform .2s;
    /* filter: drop-shadow(8px); */
}
.wd h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 100px;
     
}
h4{
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 100px;
    font-size: larger; 
    font-family: monospace;
}

.opt form{
    background-color: rgba(207, 167, 167, 0.836);
    color: white;
    font-size: medium;
    padding: 10px;
    margin: -14px auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    
}
form , input[type="button"] {
    background-color: rgba(207, 167, 167, 0.836);
    color: white;
    font-size: medium;
    padding: 10px;
    margin: 20px -18px auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    transition: transform .1s;
    font-family: courier,arial,helvetica;
    border-radius: 50px;
    border-color: grey;
}
form, input[type="button"]:hover {
    background-color: rgba(207, 167, 167, 0.836);
    transform: scale(1.1);
    font-weight: bolder;
    text-transform: capitalize;
    border-radius: 50px;
    
}
.anotherImage {
    background-image: url('/Images/buffet.jpg');
    min-height: 500px;
    min-width: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  } */
  .wdNext {
    width: 250px;
    height: 400px;
    background-color: rgb(207, 167, 167);
    opacity: 0.9;
    padding: 55px;
    margin-right: 0px;
    transition: transform .2s;
    float: right;
  }
  .wdNext h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 100px;
    margin: -10px auto;
}
.wdNext h4{
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 100px;
    font-size: larger; 
    font-family: monospace;
}
.otherInfo {
      /* The image used */
  background-image: url("https://images.happycow.net/venues/1024/15/23/hcmp152366_835814.jpeg");
  background-repeat: no-repeat;
  background-size: 500px 500px;

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3);
}
/* section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }
  section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
  }
  
  #section01 { background: url(https://picsum.photos/1200/800?image=575) center center / cover no-repeat;} */